<% if user_signed_in? %>
  <li>
  <%= link_to('Edit account', edit_user_registration_path) %>
  </li>
<% else %>

  <li>
  <%= link_to('Sign up', register_path)  %>
  </li>
 
  <li>
  <%= link_to('Login', sign_in_path)  %>  
  </li>
<% end %>
