html,body	{margin:0;padding:0;font-family: Tahoma, sans-serif; font-weight: lighter; letter-spacing:1px; height: 100%; background-color: #ddd;
			 }
html,body a {text-decoration: none; color:#000;}
html,body,ul,li{list-style-type:none;}
html,body a img {border: 0px;}
input{border:1px solid #999;}
.bold{
font-weight: bold;
}
ul.hmenu {
  list-style: none;	
  margin: 0 0 4px;
  padding: 0;
  font-size: 12px;
  
}
ul.hmenu a{
color:white;

}
ul.hmenu li {
  display: inline;  
  
}

#header {
	
	font-weight:bold;
	font-size:20px;
	height:100px;
	width: 100%;	
}

.common_header{

height:100px;
width:1180px;
margin: auto;
}
#firm_logo_view{
 float: left;
 width:100px;
 height:100px;
 margin:0;
}

#user_info_header{
 height:60px;
 
 float: left;
 padding: 20px;
}



.page_help{
 display:none;
 margin: 40px 15px 15px 15px;
 padding: 20px;
 background: #FDFFCF;
 font-size: 12px;
 border: 1px solid #555;
 -moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.display_help:hover{
 text-decoration: underline;
cursor:pointer;
cursor: hand;
}
#main {
min-height: 100%;


	
} 
#wrapper{
margin:auto;
width:1200px;
}
#all_container{
border-right: 2px solid #eee;
border-left: 2px solid #eee;
background-color: #fff;
min-height: 85%;
width:1180px;
float: left;
margin:auto;
padding: 0 0 30px 0;



}
.messages{
float:left;

width:1180px;
height: 25px;
background: #000000;
background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#444444));
background: -moz-linear-gradient(top, #000000, #444444);
background: linear-gradient(top, #000000, #444444);
background: -o-linear-gradient(top, #000000, #444444);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#444444');


}

.spinning {width:15px;height:15px;margin: 5px 0 0 15px;float: left;background: url('../images/spinner.gif') no-repeat right !important; }
#flash_messages{
margin: 3px 0 0 15px;
font-size:15px;
float:left;
}
#user_nav_header {
clear: right;
float: right;
font-size:15px;
margin:3px 15px 0 0;
color:white;
}
#user_nav_header a{
color:white;}
#user_nav_header a:hover{
text-decoration: underline;; 

}

#main_container{
float:right;

width: 980px;
 }
    
#navigation{


float:left;
position: relative;
	width:200px;
	display:inline;

}
#navigation ul{
	padding:0px;
	margin:0px;

}
#navigation li{
	background: #0095CD;
background: -webkit-gradient(linear, left top, left bottom, from(#00ADEE), to(#0078A5));
background: -moz-linear-gradient(top, #00ADEE, #0078A5);
background: linear-gradient(top, #00ADEE, #0078A5);
background: -o-linear-gradient(top, #00ADEE, #0078A5);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ADEE', endColorstr='#0078A5');

	clear:both;
	color:#FFFFFF;
	font-size:20px;
	height:75px;
	list-style-type:none;
	
	width:200px;
	cursor:pointer;

}

#navigation li a { 
	padding: 20px 0px 0 40px;
	margin: 0px; 
	display: block; 
	width: 160px; 
	
	height:55px;
	border-bottom:1px solid #666;
	}
#navigation .link_text{
	padding: 20px 0px 0 40px;

}	

#navigation li.active {
	
	
	}
	
#pointer {
	
    background: url("../images/pointer.png") no-repeat scroll left top transparent;
    
    height: 75px;
    display: inline;
    position: absolute;

    left:0;
    width: 200px;
    z-index: 10;

}
#pointer-text {
	padding: 20px 0px 0 40px;
	color: white;
	float: left;
	font-size: 20px;
}

.gravatar{
display: inline-block;
margin-right: 10px;
width: 32px;
}
.image32 {

width: 32px;
height: 32px;
margin-right: 10px;
}
.image64 {

width: 64px;
height: 64px;
margin-right: 10px;
}
.image100 {
width: 100px;
height: 100px;
margin-right: 10px;
}
.show_user_text{
float: left;
}
.show_user_image{
float: right;

}
/* dialog_form. */
.dialog_form ul {padding:0}
.dialog_form li          {margin-bottom:12px; }
.dialog_form input       {width:369px;padding: 5px;}
.dialog_form select      {width:369px;}
.dialog_form li .submit  {cursor:pointer;padding-top:2px;float:right;width:100px;}
.dialog_form .log_times  {width:60px;}
.dialog_form input#done {width:15px; float:right;}
.dialog_form input#user_roles_admin {width:15px; float:left;}
.dialog_form input#user_roles_member {width:15px; float:left;}
.dialog_form input#user_roles_external_user {width:15px; float:left;}





#tabs{
float:left;
width:980px;
border: 0px;
padding: 0.1em;

-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}

.tabsul{
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;
}




input.error  {border:1px solid red }

div.error{
  width:355px;
  
  font-size:12px;
  
  color:red;
  white-space:nowrap;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 2px;

  
  
}
em.error{
color: red;
display: block;
margin: 5px 0 0 170px;

}
em.check{
color: gray;
display: block;
margin: 5px 0 0 170px;

}
em.ok{
color: green;
display: block;
margin: 5px 0 0 170px;

}



.indicator {position:absolute; top:28px;left:180px;width:15px;height:15px; display:block; background: url('../images/spinner.gif') no-repeat right !important; }
a.quick_link {
cursor: pointer; font-size:12px; color:red;
}
a.quick_link:hover {
background: red;
color: white;
}
a.quick_todo_link {
cursor: pointer; float:left; font-size:12px; color:red; margin:20px 0px 10px 0px;
}
a.select_todo_link, a.remove_todo_link {
cursor: pointer; font-size:12px; 
}
a.highlight-class:hover{
background: #FCD7DB;
}
.highlight-class{
background-color: #FCD7DB;
}

.orange_bgr{
background: 			#F78D1D;
background: -webkit-gradient(linear,left top,left bottom,
color-stop(0, 		#FAA51A),
color-stop(1, 		#F47A20));
background: -moz-linear-gradient(top,  #FAA51A,  #F47A20);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FAA51A', EndColorStr='#F47A20')";
			
}

/*statistics begin*/


#html_tabs{

	border-bottom:1px solid #CB3900;
	border-top:1px solid #f2853c;
	color:white;
	height:62px;
	text-align:center;
	width:100%;
	min-width:980px
   
   
}

#html_tabs .content-wrapper {
	padding:0px;
	width:980px
}
#html_tabs ul{
padding: 34px 17px 0px;
overflow: hidden;
display: block;

-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
margin: 0px;





}
#html_tabs ul li {
	float:left;
	height:29px;
	margin-right:7px;
	
	

}
#html_tabs ul li a {

    background:#fa7d1b;
    border-color:#ee5f00;
    border-style:solid;
    border-width:1px 1px 0;
    display:block;
    color:#FFF;
    font-size:12px;
    font-weight:bold;
    height:27px;
    line-height:27px;
    padding:0 12px;
    
}
#html_tabs ul li a:hover {
	background:#f57619;
	text-decoration:none
}
#html_tabs ul li a.current_link {
	background:#fff !important;
	border:1px solid #CB3900;
	border-bottom:1px solid #fff !important;
	color:#222 !important;
	

}
.report_top, .report_middle, .report_bottom{
float:left;
width: 122px;
border-color:#DCDBDC;
    border-style:solid;
    border-width:0px 1px 1px;
}
.statistics_unit{
float:left;
border:1px solid #CB3900;
height:50px;
width: 100px;
padding:10px;

}
.statistics_unit .unit{
font-size: 12px;
}
.white {
color: #606060;
border: solid 1px #B7B7B7;
background: white;
background: -webkit-gradient(linear, left top, left bottom, from(white), to(#EDEDED));
background: -moz-linear-gradient(top, white, #EDEDED);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#EDEDED');
}

.white:hover {	
background: #ededed;	
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));	
background: -moz-linear-gradient(top,  #fff,  #dcdcdc);	
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {	color: #999;	
background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));	
background: -moz-linear-gradient(top,  #ededed,  #fff);	
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
.statistics_head{
float:left;
border: 1px solid #999;
height:50px;
width: 100px;
padding:10px;
background-color: #999;
}
.money, .hours, .report_charts{
min-height: 128px;

min-width: 300px;
float: left;
border:1px solid #CB3900;
}
/*statistics end*/

/*timesheet begin*/
.timesheet{
float: left;

}
table.timesheet_table {
width:100%;
border-top:1px solid #e5eff8;
border-right:1px solid #e5eff8;

border-collapse:collapse;
}
table.timesheet_table td {
padding:.3em 1em;
text-align:center;
}
table.timesheet_table tr{
border-bottom:1px solid #e5eff8;

}
table.timesheet_table tbody tr td.number {

vertical-align: middle;
padding: 8px 5px 8px 0;
}
table.timesheet_table tbody tr td.number input {
border: 1px solid #CCC;
padding: 5px 2px;
width: 50px;
line-height: 1em;
color: #666;
font-size: 18px;
font-weight: bold;
margin: 0px;

-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
-khtml-border-radius: 3px;
border-radius: 3px;
text-align: right;
}

table.timesheet_table .timesheet_day, .timesheet_project {

text-align:center;
font-size: 12px;

}
table.timesheet_table .timesheet_day{
padding:10px 0 10px 0;
}
table.timesheet_table .timesheet_project{
width: 100px;
}

table.timesheet_table tfoot td {

text-align:center;
}
/*timesheet end*/

#description{
float:left;
width:960px;

padding:10px;
font-size:12px;

		background: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#e6e6e6),
		color-stop(1, 		#ECECEC));
		background: -moz-linear-gradient(top,  #e6e6e6,  #ECECEC);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ECECEC')";
			
}

#charts{
width: 798px;
min-height: 130px;

}

#todos_chart{
float:left;
width: 200px;

}


.milestone_goal_passed, .milestone_goal_not_passed{
float:left;
border-top:#fff 1px solid;
border-left:#fff 1px solid;
margin:0;
padding:10px 10px 10px 10px;
color:white;
background: #009900;


}
.milestone_goal_not_passed{

background: #000000;

}


.list_header{
padding: 10px;
	list-style:none;
	height: 40px;
	border: 1px solid 		#DA7C0C;
	

}
.list_header .search{
	float: right;
	
}
.list_header_log{
padding: 10px;
	list-style:none;
	min-height: 130px;
	border: 1px solid 		#DA7C0C;
	
}
.log_form, .log_form_rec {
  margin-left:60px;
  width: 800px;
  min-height: 120px;
  border:1px solid #999;
 
}


.start_tracking_form, .stop_tracking_form{
margin:auto;

width: 674px;
}
.tracking_container{
  margin: 0 0 30px; 0;
  
}

.tracking_log_event {

height: 50px;
padding: 0px 5px 0px 5px;
background: white;
border: 0em;
color: black;
font-size: 25px;
float:left;
width:500px;
margin-right: 7px;

}


.clock_start, .clock_rec{
height: 35px;
background: white;
font-family:arial;
color: #bbb;
width:90px;
letter-spacing: -1px;
font-size: 24px;
padding: 13px 5px 2px 5px;
float:left;
margin-right:7px;
}

.log_form #log_event, .log_form, .log_form_rec #log_event, .log_form_rec, .stopwatch, .tracking_select  {
border-bottom-left-radius: 5px 5px;
border-bottom-right-radius: 5px 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
-moz-border-radius-bottomleft: 5px 5px;
-moz-border-radius-bottomright: 5px 5px;
-moz-border-radius-topleft: 5px 5px;
-moz-border-radius-topright: 5px 5px;
}
.log_form #new_log, .log_form_rec #new_log{
margin: 10px auto 0 auto;
width:700px;
}


.open_tracking_select, .open_not_required, .close_tracking_select, .close_not_required{
cursor:pointer;
margin-left: auto;
margin-right: auto;
display:block;
width: 100px;
height: 20px;
}
.open_tracking_select, .open_not_required{
background: url("../images/open_tracking_select.png") no-repeat scroll left top transparent;
}
.close_tracking_select, .close_not_required{

background: url("../images/close_tracking_select.png") no-repeat scroll left top transparent;
}

.open_tracking_select_container{
width: 800px;
  height: 20px;
  background:  #E6E6E6;
 
}
.tracking_select{

  
  height: 120px;
 
}
.open_not_required_container{
width: 600px;
	height: 20px;
  background:  #E6E6E6;
  margin-top: 20px;	
}

.red{
background-color:#FCD7DB;
}
.blue{
  background-color:#ebf4fb;
}
input.start{
cursor: pointer;
background:url(../images/start64.png);
height: 50px;
width: 46px;
border:0px;
}
input.stop{
cursor: pointer;
background:url(../images/stop64.png);
height: 50px;
width: 50px;
border:0px;
}
#tracking_customer_employee label, #tracking_project_task label{
  width:90px;
 display: inline-block;
  line-height: 2.3;
  vertical-align: top;
  
}
#tracking_customer_employee{
float:left;
  width:300px;
  
   margin: 0 0 0 30px;
}

#tracking_project_task{
float:left;
  width:300px;
margin: 0 0 0 0;
}

#id_search_list{
	height: 30px;
	font-size:20px;
}
#main #center{

  width:700px;
  
  
 
}

#main #left{
overflow:hidden;
  float:left;
	width:980px;
	
}
.left{
float: left;
}
#main #right {
overflow:hidden;
  float:right;
  width:980px;

}
.inner{
position:relative;

 width:1960px;
}
.index-view{
clear:left;
 float:left;
 width:980px;
}
.show-view{
clear:right;
 float:right;
width:980px;
}


#cus_pro_us_listing{
font-size:18px;
padding:0px;
margin:0px;
}
.tab_list, .archive_tab_list{	
	padding: 10px 0 0 10px;
	list-style:none;
	height: 40px;
	border: 1px solid 		#DCDBDC;
	color: 					#000;
		
}
.tab_list{
background: 			#e6e6e6;
		background: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#e6e6e6),
		color-stop(1, 		#ECECEC));
		background: -moz-linear-gradient(top,  #e6e6e6,  #ECECEC);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e6e6e6', EndColorStr='#ECECEC')";	
}
.archive_tab_list{
background: 			#FFF2F5;
		background: -webkit-gradient(linear,left top,left bottom,
		color-stop(0, 		#FFF2F5),
		color-stop(1, 		#ECECEC));
		background: -moz-linear-gradient(top,  #FFF2F5,  #ECECEC);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFF2F5', EndColorStr='#ECECEC')";	
}
.tab_list_text{
display:inline-block;
padding:5px 0 0 0;
}


#main #left #customer {
  float:left;
  width:420px;
  }


#main #bottom{
  padding: 20px 0px 20px 0px;
  width:1110px;
  clear:both;
}


#projects a:hover, .select_todo_link:hover{
background: #ccc;
}
.project_todo_customer_select{
width: 605px;
padding-top: 10px;

}
.what_project, .what_todo{
font-size:12px;


}

.customer_select{
float:right;
font-size:12px;

}
.log_menu{
float: left;
width:970px;
padding:5px ;
vertical-align: top;
background:#eee;
}
.range{
float: left;
height: 35px;

}

.range_date  {width:90px; height:35px; padding:4px 0 1px 5px ;  margin:0; color: #777;}
input.button {height:36px; }
.listing_logs{
padding-left: 5px;
}
#log{
  font-size:15px;
  border: 1px solid #999;
  padding: 2px;
  width:800px;
  
  } 
.logs_pr_date{
  float:right;
 
}
.add_some{ 
  width:500px;
  float: left;
}
.add_some_timesheet{ 
  width:500px;
padding: 7px 0 0 10px;
  float: left;
}
.add_some_timesheet_buttons{
float: right;
width: 400px;
}
.activate_projects_no_button{
  cursor:pointer;
  float:right;
}
.edit{
  cursor:pointer;
}

#users_list{
float: left;
height: inherit;
}
.info, .user_info {
border-bottom: 1px solid #E5E5E5;

}



.log_date{
  width:70px;
  
}
.date_on_log{
  display: inline-block;
  width:74px;
}

/*employee begin*/

.employee_name, .employee_phone, .employee_email{
  display: inline-block;
  width:135px;
   
}
.employee_edit_link{
  cursor: pointer;
  title: "Edit";
  display: inline-block;   
  }

/*project begin*/
 .project_due{
  display: inline-block;
  
}
.project_desc, .project_name{
  display: inline-block;
  width:270px;
}
/*project form*/

/*project end*/

/*all view*/
.gravatar_on_log,.event_on_log,.pro_tod_cus_emp_on_log,
.cus_emp_on_log, .pro_tod_on_log,.date_and_times_on_log, 
.delete_edit, .name_todo,.name_milestone ,.date_all, .user_todo, .project_todo, .delete_edit_archive{
display: inline-block;
  vertical-align:top;
}
/*log begin*/




.gravatar_on_log{
margin-right: 10px;
width: 32px;
}

.event_on_log {
  width: 455px;
 margin: 0 10px 0 0;
}
.date_and_times_on_log{
  width: 115px;
  font-size: 10px;
  border-right: 1px solid #E5E5E5;
   
}
.pro_tod_cus_emp_on_log{
width: 210px;
font-size: 10px;
overflow:hidden;
white-space:nowrap;
}
.cus_emp_on_log, .pro_tod_on_log{
width: 100px;

}
.pro_cus_on_log, .tod_emp_on_log{
overflow:hidden;
white-space:nowrap;
 
}
.pro_cus_on_log{
font-weight: bold;

}
.tod_emp_on_log{

}


.total_log_time{
  font-size: 20px;
  letter-spacing: 2px;
}

/*log end*/
/*Todo view begin*/
#done_tasks .name_todo, #done_tasks .user_todo, #done_tasks .date_all, #done_tasks .delete_edit{
  text-decoration:line-through;
}

.name_todo{
 width: 500px;
  padding: 0 10px 0 0;
}
.user_todo{
 width: 150px;

}
.project_todo{
 width: 150px;
}
.date_all{
	width: 50px;
  	font-size: 10px;
  

}
.info_head{
font-size: 15px;
font-weight: bold;
}

.delete_edit{
  width:70px;

  font-size: 10px;
 
  
}
.delete_edit_archive{
  width:70px;
  font-size: 10px;
}
/*Todo view end*/
/*Project view end*/
.delete_edit_archive{
  width:120px;
  font-size: 10px;
}
/*Project view end*/


/*milestone view end*/
.name_milestone{
width:750px;
}

/*milestone view end*/


#footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  background-color:#ddd;	
 
}

.instruction_1{
 width: 500px;
 height: 200px;
 float:left;
}
#register_container{
width:600px;
display: block;
margin: 0 auto 0 auto;
}
#registration{
border:1px solid #999;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
float:left;
 width: 560px;
padding: 20px;
color: white;
background: #0230BA;
background: -webkit-gradient(linear,  left top, left bottom, from( #0230BA), to( #3864E8));
background: -moz-linear-gradient(top, #0230BA, #3864E8 ) repeat scroll 0 0;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0230BA', endColorstr='#3864E8');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0230BA', endColorstr='#3864E8')";
}

.signup_firm, .signup_user{
float:left;
width: 600px;
background: #ebf4fb;
background:-webkit-gradient(linear, left bottom, left top, color-stop(0.50,  #ffffff), color-stop(0.80, #ebf4fb));
background: -moz-linear-gradient(center bottom, #ffffff 50%, #ebf4fb 80%);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ebf4fb', EndColorStr='#ffffff')";

margin-top:20px;
padding: 20px 0 0 0 ;
border:1px solid #999;
}

.signup .signup-form-field-subdomain input{
width:264px;
}
.signup .signup-form-field-subdomain, .signup-form-field{
display: block;
position: relative;
height: 60px;
width: 550px;

}
.signup .signup-form-field-subdomain #loggyit_sub{
position: absolute;
top: 0px;
left:444px;
font-size: 14px;
line-height: 35px;
}
.devise_links{
margin: 0 0 20px 20px;
}

.signup input, .update input{
width:364px;padding:2px; font-size:20px;
line-height: 1.2em;
background:#fff;
background:-webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
background: -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eeeeee')";
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}
.update input.logo{
font-size:15px;
margin-bottom: 10px:

}
.update input.background_style, .update input.text_style{
width:100px;


}
.background_style_color, .text_style_color{
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border:1px solid #999;
display: inline-block;
height: 28px;
width: 28px;
margin-bottom:2px;
vertical-align: bottom;
}

.signup label, .update label{
display: block;
margin-left: 20px;
float: left;
width: 150px;
line-height: 30px;
}
.signup .submit, .update .submit{
width: 150px;margin-left:170px;cursor:pointer;padding-top:2px;width:100px;border:1px solid #999; font-size:20px;background:#fff;
background: #2E8D11;
background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #2E8D11), color-stop(0.7, #72C152), color-stop(0.96, #72C152), color-stop(1, #99EB79));
background: -moz-linear-gradient(center bottom, #2E8D11 0%, #72C152 70%, #72C152 96%, #99EB79 99%) repeat scroll 0 0;
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72C152', endColorstr='#2E8D11');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72C152', endColorstr='#2E8D11')";
border: 1px solid #2E8D11;
color: white;
}

.signup .submit:hover, .update .submit:hover{background:#3ea60b;
background:-webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, #3ea60b), color-stop(0.7, #72c152), color-stop(0.96, #72c152), color-stop(1, #99eb79));
background:-moz-linear-gradient(center bottom, #3ea60b 0%, #72c152 70%, #72c152 96%, #99eb79 100%) repeat scroll 0 0;
filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72c152', endColorstr='#3ea60b');
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#72c152', endColorstr='#3ea60b')"}

.update_firm, .update_user{
float:left;
width: 600px;
margin-top:20px;
padding: 20px 0 0 0 ;

}
.update_firm .update-form-field{
display: block;
padding: 10px 0 10px 0;

}


.firm_account{
background-color: #eee;
padding: 20px;
font-size: 15px;
}
.firm_preferences{
padding: 20px;
min-height:600px;
font-size: 15px;
}
.firm_preferences ul, .firm_account ul{
padding: 0;
}
.firm_preferences ul li, .firm_account ul li{
padding: 10px 0 10px 0;
border-bottom: 1px solid #999;

}
.preference_label  {
margin-left: 20px;
display: inline-block;
width: 150px;

}
.timesheet .submit, .firm_account .submit, .firm_preferences .submit{
background:#323CED;
padding:10px; font-size:15px;
letter-spacing: 1px;
color: white;

background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.27, rgb(30,38,189)),
    color-stop(0.7, rgb(58,72,230)),
    color-stop(0.85, rgb(14,51,237))
    
);

background: -moz-linear-gradient(
    center bottom,
    rgb(30,38,189) 27%,
    rgb(58,72,230) 70%,
    rgb(14,51,237) 85%
);

-moz-border-radius: 3px;
-webkit-border-radius: 3px;

}
.timesheet .submit:hover, .firm_account .submit:hover, .firm_preferences .submit:hover{
background:#2933E6;
letter-spacing: 1px;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.27, #2933E6),
    color-stop(0.7, #3A48E6),
    color-stop(0.85, #2245F2)
);
background-image: -moz-linear-gradient(
    center bottom,
    #2933E6 27%,
    #3A48E6 70%,
    #2245F2 85%
);
}	
.error_message {font-size: 12px; color: red;float:right; padding-right: 50px;}
.field_error input { border:1px solid red; }

.form_layout_search					{padding:20px 20px 20px 20px;width:550px;border:1px solid #999;background-color:#ebf4fb;margin-top:0px;}
.form_layout_search li input     {width:400px;float:right;padding:2px;border:1px solid #999; font-size:20px;background:#fff;}

.form_layout					{ padding:20px 20px 50px 20px;width:550px;border:1px solid #999;background-color:#ebf4fb;}
.form_layout li					{clear:both;padding-top:2px;}
.form_layout li label			{width:100px;float:left;}
.form_layout li input			{width:400px;float:right;padding:2px;border:1px solid #999; font-size:20px;background:#fff;}
.form_layout li select			{width:135px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.form_layout li textarea		{width:400px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.form_layout li .submit			{cursor:pointer;padding-top:2px;float:right;width:100px;}

.quick_form_layout          {padding:20px 20px 50px 20px;width:400px;border:1px solid #999;background-color:#ebf4fb;}
.quick_form_layout li         {clear:both;padding-top:1px;}
.quick_form_layout li label     {width:100px;float:left;}
.quick_form_layout li input     {width:200px;float:right;padding:2px;border:1px solid #999; font-size:12px;background:#fff;}
.quick_form_layout li select      {width:135px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.quick_form_layout li textarea    {width:200px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.quick_form_layout li #employee_submit     {cursor:pointer;padding-top:2px;float:right;width:50px;}


.ui-datepicker {width:200px;}
.ui-datepicker button {font-size: 12px;}
.ui-timepicker-div {font-size:12px; width: 200px;}
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 12px; }

