html,body {margin:0;padding:0;font-family:georgia;font-size:24px; height: 100%;}
html,body a {text-decoration: none; color:#000;}
html,body,ul,li{list-style-type:none;}
html,body a img {border: 0px;}

#header {
  position:fixed; top:25px;
  font-weight:bold;
  font-size:20px;
  color:#FFFFFF;
  height:25px;
  background:#000;
  width: 100%;
  padding-left: 2%;
  
}
#above_header {
position:fixed; top:0px;
width: 100%;
background:#000;
height:25px;
font-size:20px;
  color:#FFFFFF;
 padding-left: 2%;
}
#header a {text-decoration: none; color:#fff;}
#user_nav {
  position:fixed; top:25px;right:5px;
 
}
#main {
  min-height: 100%;
  
} 
.spinning {position:fixed; top:30px;left:5px;width:15px;height:15px; display:block; background: url('../images/spinner.gif') no-repeat right !important; }
a.quick_milestone_link {
cursor: pointer; float:left; font-size:12px; color:red; margin:20px 0px 10px 0px;
}
a.quick_milestone_link:hover {
background: red;
color: white;
}
a.quick_todo_link {
cursor: pointer; float:left; font-size:12px; color:red; margin:20px 0px 10px 0px;
}
a.quick_todo_link:hover {
background: red;
color: white;
}
#uncompleted_todos {
float:left;
margin:0px;
padding:0px;
}
#completed_todos {
color:999999;
float:left;
margin:0px;
padding:0px;
}
#main_container{
  overflow:auto;
  padding-bottom: 100px;
  padding-top: 30px;
  margin:0 auto; 
  width:1100px
    }
#main #center{
padding:50px 00px 00px 150px;
width:800px
 
}
#main #left{
  float:left;
  width:500px;
  padding:50px 00px 00px 00px;
}
#main #right {
  float:right;
  width:500px;
  padding:50px 00px 00px 0px;
}
#log{
  font-size:15px;
  border: 1px solid #999;
  padding: 2px
  
  } 
#listing{
 
  padding-left:0px;
  
}

#main #left #customer {
  float:left;
  width:420px;
  }

#footer {
  position: relative;
  margin-top: -95px; /* negative value of footer height */
  height: 95px;
  clear:both;
  background: url(../images/grass.png) repeat-x;  
  
}
#todos {position:fixed; top:500px; right:20px; padding:20px 20px 50px 20px;width:550px;border:1px solid #999;
  }
.error_message {font-size: 12px; color: red;float:right; padding-right: 50px;}
.field_error { background-color: red; display: table;}

.form_layout_customer_update          {position:fixed; top:20px; left:20px; padding:20px 20px 50px 20px;width:500px;border:1px solid #999;background-color:#ebf4fb;}
.form_layout_customer_update li         {clear:both;padding-top:2px;}
.form_layout_customer_update li label     {width:60px;float:left;}
.form_layout_customer_update li input     {width:400px;float:right;padding:2px;border:1px solid #999; font-size:20px;background:#fff;}
.form_layout_customer_update li select      {width:135px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.form_layout_customer_update li textarea    {width:400px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.form_layout_customer_update li #customer_submit      {cursor:pointer;padding:2px;float:right;width:200px; margin-top:3px;}

.form_layout_left       {position:fixed;  top:50px;right:20px; width:550px;}
.form_layout_left li input    {width:400px;float:right;padding:2px;border:1px solid #999; font-size:20px;background:#fff;}

.form_layout_right          {}
.form_layout_right li label     {width:100px;}
.form_layout_right li input     {width:100px;border:1px solid #999; font-size:20px;background:#fff;}
.form_layout_right li textarea    {width:400px;height:200px;padding:2px;font-size:20px;border:1px solid #999;background:#fff;}
.form_layout_right li .submit     {cursor:pointer;padding:2px;width:50px;}

.form_layout          {position:fixed; top:100px; right:20px; padding:20px 20px 50px 20px;width:550px;border:1px solid #999;background-color:#ebf4fb;}
.form_layout li         {clear:both;padding-top:2px;}
.form_layout li label     {width:100px;float:left;}
.form_layout li input     {width:400px;float:right;padding:2px;border:1px solid #999; font-size:20px;background:#fff;}
.form_layout li select      {width:135px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.form_layout li textarea    {width:400px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.form_layout li .submit     {cursor:pointer;padding-top:2px;float:right;width:100px;}

.form_layout_login          {position:fixed; top:60px; right:20px;padding:20px 20px 50px 20px;width:500px;border:1px solid #999;}
.form_layout_login li label     {display:block;width:140px;float:left;}
.form_layout_login li input     {width:200px;float:right;border:1px solid #999; padding:4px 2px;font-size:20px;background:#fff;}
.form_layout_login li .submit     {cursor:pointer;padding:2px;width:50px;}

.form_layout_todo          {position:fixed; top:350px; right:20px; padding:20px 20px 50px 20px;width:550px;border:1px solid #999;background-color:#ebf4fb;}
.form_layout_todo  li         {clear:both;padding-top:2px;}
.form_layout_todo  li label     {width:100px;float:left;}
.form_layout_todo  li input     {width:400px;float:right;padding:2px;border:1px solid #999; font-size:20px;background:#fff;}
.form_layout_todo  li select      {width:400px;float:right;padding:2px;border:1px solid #999;font-size:20px;background:#fff;}
.form_layout_todo  li textarea    {width:400px;float:right;padding:2px;border:1px solid #999;background:#fff;}
.form_layout_todo  li .submit     {cursor:pointer;padding:2px;float:right;width:100px;}

.form_layout_logsearch       {width:400px;}
.form_layout_logsearch li input    {width:300px;padding:2px;border:1px solid #999; font-size:20px;background:#fff;}



.log_form, .log_form_rec {
  width: 800px;
  height: 150px;
  border:1px solid #999;
  background-color:#ebf4fb;
}

.log_form_rec {
background-color:#FCD7DB;
}


.edit_log #log_log {

height: 43px;
padding: 10px 5px 0px 5px;
background: white;
border: 0em;
color: black;
font-size: 25px;
float:left;
width:500px;
margin-right: 0.3em;
}
.clock1{
height: 40px;
background: white;
font-family:arial;
color: #bbb;
width:90px;
letter-spacing: -1px;
font-size: 24px;
padding: 13px 5px 0px 5px;
float:left;
margin-right: 0.3em;
}


.log_form #new_log, .log_form_rec #new_log, .edit_log{
margin: 10px 0 0 50px;
width:700px;
}

