<div id="left">
<%= render "private/home_header" %>
  	<div class="html_tab_content" id="tabs-1"> 
  		<%= render(:partial => "form")%>
  		</div>
  	<div class="html_tab_content" id="tabs-2">
  
	</div>
 </div>


