$(".flash_notice").empty();

$(".show-view").empty();
$(".show-view").append("<%= escape_javascript(render :partial => "customers/show", :locals => {:customer => @customer}) %>");
$("#dialog_project").UIdialogs_links();
$("#dialog_project_form").UIdialogs();
$(".open_project_update").UIdialogs_edit_links();
$(".activate_projects_no_button").activate_projects_no_button();
$( "#tabs" ).tabs({ cache: true },
  {spinner: '<img src="/images/spinner2.gif" />'},
   {
      ajaxOptions: {
        
        error: function( xhr, status, index, anchor ) {
          $( anchor.hash ).html(
            "Couldn't load this tab. We'll try to fix this as soon as possible. ");
        }
      }
    });
    
$(".back_button").button().click(function(){
	$(".inner").animate({left:0, duration:500});
	$(".show-view").empty();
	$(".show-view").append("<div class='show-view'><div class='list_header'>Loading....</div></div>");
});
$('.spinning').hide();