 <div id="html_tabs"  class="orange_bgr">
 	<div class"content-wrapper">

  	<ul>
  		<li><%= link_to "Statistics", statistics_path%></li>
	    <li><%= link_to "Reports", reports_path%></li>
	   	<li><%= link_to "Timesheets", timesheets_path(current_user) %></li>
	   	<li><%= link_to "Account", account_path%></li>  
	   	
	   
	</ul>
	
</div>

</div>
