<div id="left">
<%= render "home_header" %>

<div class="timesheet">
  		<%= render "timesheet_header" %>

   <div class="listing_logs"> 
 	
 	<%= render "logs/list_header" %>
    <%= render @logs %>

    </div>
    </div>
 </div>
