.hide{
  display:none;
}
#sub_tabs{
 float: left;

  width:100%;
  font-family:Verdana,Helvetica,sans-serif;
  
  font-size:75%;
  
 
}
#sub_tabs ul{
  list-style: none;
  padding:0;
  margin:0;

}
#sub_tabs li {
  float: left;
  margin: 0;
  padding: 0;
 /*--Subtract 1px from the height of the unordered list--*/
  line-height: 32px; /*--Vertically aligns the text within the tab--*/
 
  border: 1px solid #999;
  border-left: none;
  
  
  background: #e0e0e0;
  
}
#sub_tabs li a{
  display: block;

  text-decoration: none;
  color: #000;
  display: block;
  font-size: 1.2em;
  padding: 0 20px;
  border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
}
#sub_tabs li:hover {
  background-color:#ccc;
}
#sub_tabs li.active{
  background-color:#fff;
 border-bottom: none;

}
#sub_tabs li.active a {
  position:relative;
  top:2px;
    height: 34px;
    background: white;
    padding: 0 20px;
  border: none;
 z-index: 10;
  }

.nav_line{
  position:relative;
  top:-1px;
  width: 100%;
  border-bottom: 1px solid #999;
  float:right;
  display:block;
  z-index: 0;
}
