<div id="head_log">
 <div class="info">
 	<div class="gravatar"></div>
  <div class="event_on_log info_head">Event</div>
  <div class="date_and_times_on_log bold">Date and time<br/>Hours</div>
  <div class="pro_tod_cus_emp_on_log bold">
  	<div class="pro_tod_on_log">Project<br />Task</div>
  	<div class="cus_emp_on_log">Customer<br />Employee</div>
  </div>
  </div>
  </div>